/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: monospace, 'Courier New', Courier;
  margin: 0;
}
h1 {
  margin: 30px;
  text-align: center;
}
p {
  margin: 15px;
}

#box {
  background-color: darkgray;
  position: relative;
  margin: 20px;
  border: 2px solid black;
  height: 175px;
  overflow: auto;
}
#boxTitle {
  background-color: #FFFFFF;
  margin: 0 0 10px 10px;
  padding: 5px;
  border: 1px solid #000000;
  float: right;
  width: 125px;
  text-align: center;
}
#boxContent {
  /*background-color: #A52A2A;*/
  margin: 10px;
  clear: both;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop Display **********/
/* 3 boxes:
 - Each take equal amount of room.
 - All on the same row
*/
@media (min-width: 992px) {
  .col-lg {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet Display **********/
/* 3 boxes:
 - Row 1: 2 boxes taking equal amount of room.
 - Row 2: 1 box taking the entire row.
*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    clear: both;
    width: 100%;
  }
  #box1 {
    background-color: darkgray;
    position: relative;
    margin: 0px 5px 0px 20px;
    border: 2px solid black;
    height: 175px;
    overflow: auto;
  }
  #box2 {
    background-color: darkgray;
    position: relative;
    margin: 0px 20px 20px 20px;
    border: 2px solid black;
    height: 175px;
    overflow: auto;
  }
  #box3 {
    background-color: darkgray;
    position: relative;
    margin: 0px 20px 0px 20px;
    border: 2px solid black;
    height: 175px;
    overflow: auto;
  }
  #boxTitle1 {
    background-color: #FFFFFF;
    margin: 0 0 10px 10px;
    padding: 5px;
    border: 1px solid #000000;
    float: right;
    width: 125px;
    text-align: center;
  }
  #boxTitle2 {
    background-color: #FFFF00;
    margin: 0 0 10px 10px;
    padding: 5px;
    border: 1px solid #000000;
    float: right;
    width: 125px;
    text-align: center;
  }
  #boxTitle3 {
    background-color: #FF00FF;
    margin: 0 0 10px 10px;
    padding: 5px;
    border: 1px solid #000000;
    float: right;
    width: 125px;
    text-align: center;
  }
  #boxContent {
    /*background-color: #A52A2A;*/
    margin: 10px;
    clear: both;
  }
}


/********** Mobile Display **********/
/* 3 boxes:
 - Each box takes the entire row (stack boxes vertically).
*/
@media (max-width: 767px) {
  .col-sm {
    width: 100%;
    clear: both;
  }
}
