/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: monospace, 'Courier New', Courier;
  margin: 0;
}
h1 {
  margin: 30px;
  text-align: center;
}
p {
  margin: 15px;
}
#box1 {
  height: 100%;
  margin-left: 10px;
  border: 2px solid #000000;
  background-color: #999999;

}
#box2 {  
  height: 100%;
  background-color: #999999;
  border: 2px solid #000000;
}
#box3 {
  height: 100%;
  background-color: #999999;
  margin-right: 10px;
  border: 2px solid #000000;
}
#boxTitle1 {
  background-color: #F2C908;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 5px;
  border: 2px solid #000000;
  width: 125px;
  text-align: center;
}
#boxTitle2 {
  background-color: #CCCC00;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 5px;
  border: 2px solid #000000;
  width: 125px;
  text-align: center;
}
#boxTitle3 {
  background-color: #FFAA00;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 5px;
  border: 2px solid #000000;
  width: 125px;
  text-align: center;
}
#boxContent {
  /*background-color: #A52A2A;*/
  position: relative;
  overflow: auto;
  top: 35px;
  height: 80%;
  padding: 0px 5px 5px 0px;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop Display **********/
/* 3 boxes:
 - Each take equal amount of room.
 - All on the same row
*/
@media (min-width: 992px) {
  .col-lg {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 0px 10px 20px 10px;
    height: 250px;
  }
  /*** Adjusting Attributes ***/

}

/********** Tablet Display **********/
/* 3 boxes:
 - Row 1: 2 boxes taking equal amount of room.
 - Row 2: 1 box taking the entire row.
*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    position: relative;
    float: left;
    width: 50%;
    padding: 0px 10px 20px 10px;
    height: 250px;
  }
  .col-md-12 {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0px 10px 20px 20px;
    height: 250px;
  }
  /*** Adjusting Attributes ***/
  #box2 {
    margin-right: 10px;
  }
  #boxTitle2 {
    right: 20px;
  }
}


/********** Mobile Display **********/
/* 3 boxes:
 - Each box takes the entire row (stack boxes vertically).
*/
@media (max-width: 767px) {
  .col-sm {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0px 20px 20px 20px;
    height: 250px;
  }
  /*** Adjusting Attributes ***/
  #box1 {
    margin: 0px;
  }
  #box2 {
    margin: 0px;
  }
  #box3 {
    margin: 0px;
  }
  #boxTitle1 {
    right: 20px;
  }
  #boxTitle2 {
    right: 20px;
  }
  #boxTitle3 {
    right: 20px;
  }
}
