/*** Header ***/
#header-nav {
  background-color: #cccccc;
  border-radius: 0;
  margin: 0;
  border: 0;
}
.navbar-static-top .container {
  width: 100%;
}
.navbar-brand {
  padding: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #222;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /*Header*/
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #nav-list {
    margin: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  #nav-list a{
    text-align: center;
    color: #000;
  }
  #nav-list a:hover {
    font-weight: bold;
    background-color: #888888;
  }
  #collapsable-nav {
    padding: 0;
    border-color: #000;
  }
  #collapsable-nav hr {
    margin: 0;
    border: 1px solid #000;
  }
}
